{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}

<section class="image-with-text x xjc hw16-9 psr ">
 

  <div class="image-with-text__text">
  	{% if section.settings.image %}
  		<img src="{{ section.settings.image | img_url:'1500x900' }}" class="p1 pb0 psa c w100 h100 " />
  	
  	{% endif %}
    {% if section.settings.title != blank %}
      <h2 class='psa m0 tac c'>{{ section.settings.title | escape }}</h2>
    {% endif %}

    {% if section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}">
      </a>
    {% endif %}
   
  </div>

</section>

{% schema %}
  {
    "name": "two item row",
     "class": "two-up dib x0150",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "1/2 size image"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button link"
      }

    ],
    "presets": [
      {
        "name": "2 Column Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}
