{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
<section class="collection x xw xjs w100 ">
 

  {%- assign collection = collections[section.settings.collection] -%}
{% assign count = 0 %}

  {% for product in collection.products limit: 12 %}
      {% include 'product-card' %}
    {% if count == 2 %}
     {% assign count = 0 %}
    {% else %}
     {% assign count = count | plus: 1 %}
    {% endif %}
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Featured collection",
    "class":"w100",
    "settings": [
    
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
