/**
 * Insert your styles with Liquid below.
 *
 * Import additional stylesheets into this sheet using CSS imports:
 * @import url('./global/form.scss');
 */
@font-face {
    font-family:GtAmericaReg;
    src:url(//cdn.shopify.com/s/files/1/0261/9378/8980/t/2/assets/gt-america-regular.otf?3779);
}
@font-face {
    font-family:GtAmericaMono;
    src:url(//cdn.shopify.com/s/files/1/0261/9378/8980/t/2/assets/gt-america-mono.otf?3779);
}
@font-face {
    font-family:GtAmericaBold;
    src:url(//cdn.shopify.com/s/files/1/0261/9378/8980/t/2/assets/gt-america-bold.otf?3779);
}
body {
  font-family: GtAmericaReg;

}
.marquee, .ff2{font-family:GtAmericaMono}